body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #151619;
}
p {
  position: relative;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 8px;
  overflow: hidden;
  background: linear-gradient(100deg, #151619, #ffe4e1, #151619);
  background-repeat: no-repeat;
  background-size: 70%;
  animation: animate linear infinite;
  animation-duration: 2.5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
